<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des containers</title>
    <link rel="stylesheet" href="/CSS/index.css" />
    <link rel="stylesheet" href="/CSS/bootstrap.css" />
</head>
<body>
<div class="container">

    <header th:insert="header"></header>

    <div class="row">
        <div class="col-md-12">
            <h1>Voici la liste de tous les containers :</h1>
            <p>...</p>
        </div>
    </div>

</div>

</body>
</html>