<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des containers</title>
    <link rel="stylesheet" href="/CSS/bootstrap.css"/>
    <link rel="stylesheet" href="/CSS/index.css"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Voici la liste de tous les containers :</h1>
            <table>
                <caption>Liste des containers</caption>
                <thead>
                <tr>
                    <th>Image</th>
                    <th>ID</th>
                </tr>
                </thead>
                <tr th:each="container : ${listContainers}">
                    <td th:text="${nom}"></td>
                    <td th:text="${container.id}"></td>
                    </br>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Ajouter un container :</h2>
            <form method="post" action="/dockerlist">
                <label for="nom">Nom de l'image : </label>
                <input type="text" name="nom" id="nom">
                <input type="submit">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <a href="/">Index</a>
</div>

</body>
</html>